body{
    background-image: url(Landscape\ 2k\ WallPaper.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: grid;
    height: 600px;
    width: 600px;
    border: black 5px solid;
    background-color: white;
}

.supra-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: red;
}
.buttons{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 5%;
}