body{
    background-image: url(Landscape\ 2k\ WallPaper.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: grid;
    height: 600px;
    width: 600px;
    border: black 5px solid;
    background-color: white;
}

.supra-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: red;
}

h1{
    color:rgb(140, 175, 200);
    font-size: 50px;
}

.button-container{
    display: flex;
    width: 20%;
    gap: 5%;
    flex-direction: column;
    
}

#GridSize{
    background-color: unset;
    color: white;
    border-color: grey;
    margin-bottom: 10px;
    width: 50%;
}

#Random{
    background-color: unset;
    color: white;
    border-color: grey;
    margin-bottom: 10px;
    width: 50%;
}

#Clear{
    background-color: unset;
    color: white;
    border-color: grey;
    margin-bottom: 10px;
    width: 50%;
}

#Colour{
    background-color: unset;
    color: white;
    border-color: grey;
    margin-bottom: 10px;
    width: 50%;
}