*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark-grey:#212429;
}

body{
    height: 100vh;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    height: 98vh;
    width: 98vh;
    background-color: white;
    touch-action: none;
    cursor: crosshair;
}

.box:hover{
    background-color: rgb(220,220,220);
}

.box{
    touch-action: none;
    user-select: none;
}

.button-container{
    display: flex;
    width: 40%;
    gap: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-bottom: 30px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-bottom: 5%;
}

h1{
    color:white;
    font-size: 4rem;
}

p{
    color:white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
}

/*Buttons*/
#Clear, #Fill, #Download{
    height: 300px;
    border-color: white;
    color: #333333;
    font-size: 20px;
    border-radius: 10px;
    width: 300px;
    margin-top: 30px;
    background-color: white;
    border-style: none;
}

#GridSize{
    background: white;
    color: white;
    border-color: white;
    margin-top: 10px;
    width: 300px;
}

input{
    width: 300px;
    margin-top: 30px;
}

input:hover, button:hover{
    cursor: pointer;
    scale: 105%;
}

#Clear:active, #Fill:active{
    border-color: #333333;
    color: white;
    background-color: #333333;
}

#Color {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
    height: 100%;
    width: 300px;
}

@media(max-width: 1350px){
    .container{
        height: 700px;
        width: 700px;
    }
    #Clear, #Fill, #Download, #GridSize, #Color, input{
        width: 200px;
    }
}

@media(max-width: 1200px){
    .container{
        height: 700px;
        width: 700px;
    }

    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1.5rem;
    }
}

@media(max-width: 1180px){
    .container{
        height: 600px;
        width: 600px;
    }
}

@media(max-width: 1180px){
    .button-container{
        width: 30%;
    }
}

@media(max-width: 860px){
    body{
        flex-direction: column-reverse;
        height: unset;
        margin-top: 10px;
    }

    .button-container{
        width: 98vw;
        height: 400px;
        gap: 10px;
    }

    .container{
        width: 98vw;
        height: 98vw;
        margin-bottom: 1vw;
    }

    #Clear, #Fill, #Download, #GridSize, #Color, input{
        width: 48vw;
        height: 40px;
    }

    .title{
        width: 100vw;
    }
}