*{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    margin:0;
    padding: 0;
    background-color: #333333;
}

.supra-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.container{
    display: grid;
    height: 700px;
    width: 700px;
    background-color: white;
    touch-action: none;
    cursor: crosshair;
}

.button-container{
    display: flex;
    width: 40%;
    gap: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    margin-top: -15%;
    
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-bottom: 5%;
}

h1{
    color:white;
    font-size: 60px;
}

p{
    color:white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

.box:hover{
    background-color: rgb(220,220,220);
}

.box{
    touch-action: none;
    user-select: none;
}

/*Buttons*/
#GridSize{
    background: white;
    color: white;
    border-color: white;
    margin-top: 10px;
    width: 100%;
}

#Color{
    background-color: unset;
    color: white;
    border-color: grey;
    margin-bottom: 15px;
    border-radius: 5px;
}

#color-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Clear{
    background-color: rgb(51,51,51);
    color: white;
    border-color: grey;
    margin-bottom: 15px;
    border-color: black;
    border-radius: 5px;
    font-size: 15px;
}

#clear-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Fill{
    background-color: rgb(51,51,51);
    color: white;
    border-color: grey;
    margin-bottom: 15px;
    border-color: black;
    border-radius: 5px;
    font-size: 15px;
}

#fill-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

input:hover, button:hover{
    cursor: pointer;
    scale: 105%;
}

input{
    width: 100%;;
    margin-top: 30px;
}

#Clear, #Fill, #Download{
    height: 40px;
    border-color: white;
    color: #333333;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;;
    margin-top: 30px;
    background-color: white;
    border-style: none;
}

#Clear:active, #Fill:active{
    border-color: #333333;
    color: white;
    background-color: #333333;
}

#Color {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
    height: 80px;
    padding: 0;
    width: 80px;
    border-color: #333333;
    margin-top: 10px;
    margin-bottom: 0px;
}

@media(max-width: 1200px){
    .supra-container{
        flex-direction: column;
    }

    body{
        height: auto;
    }

    .button-container{
        margin-top: 30px;
        height: 400px;
    }
}

@media(max-width: 800px){
    .container{
        height: 95vw;
        width: 95vw;
        margin: auto;
    }
}

@media(max-width: 420px){ 
    h1{

        font-size: 45px;
    }
}